<div class="footer">
  <img class="footer__img" src="assets/logos/logo_rubber_duck.png" alt="" />
  <h2>Follow us on <mark>socials</mark></h2>
  <div class="socials">
    <a
      class="socials__icon"
      target="_blank"
      rel="noreferrer"
      href="https://www.facebook.com/RubberDuckG"
      ><i class="fab fa-facebook"></i
    ></a>
    <a
      class="socials__icon"
      target="_blank"
      rel="noreferrer"
      href="https://www.instagram.com/rubberduckgames/"
      ><i class="fab fa-instagram"></i
    ></a>
    <a class="socials__icon" target="_blank" href=""
      ><i class="fab fa-youtube"></i
    ></a>
    <a
      class="socials__icon"
      target="_blank"
      rel="noreferrer"
      href="https://twitter.com/RubberDuck_G"
      ><i class="fab fa-twitter"></i
    ></a>
    <a
      class="socials__icon"
      target="_blank"
      rel="noreferrer"
      href="https://www.linkedin.com/company/rubberduckgames"
    >
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
  <blockquote>
    © 2020 copyright , Evil Wizard is a game developed by RubberDuckGames , All
    rights reserved.
  </blockquote>
</div>
