<section id="landing" class="landing">
  <img
    id="bg"
    class="landing__img"
    src="assets/images/parallax/DarkForestBackground_Back.png"
    alt="Back from the parallax"
  />
  <img
    id="bg-mid"
    class="landing__img"
    src="assets/images/parallax/DarkForestBackground_BackMid.png"
    alt="Back mid from the parallax"
  />
  <img
    id="bg-front"
    class="landing__img"
    src="assets/images/parallax/DarkForestBackground_Front.png"
    alt="Front from the parallax"
  />
  <img
    id="bg-front-mid"
    class="landing__img"
    src="assets/images/parallax/DarkForestBackground_FrontMid.png"
    alt="Front mid from the parallax"
  />
  <img
    id="landing-logo"
    src="assets/logos/logo_evil_wizard.png"
    alt="Logo of the Evil Wizard"
  />
</section>

<section id="studio" class="studio">
  <div class="studio__desc">
      <h1  data-aos="fade-up"><span class="mark2">Welcome </span> to the <br> <span class="mark1">rubberduckgames</span> <span class="mark4">page!</span></h1>
      <p>We're an indie game studio from Uruguay, working on Evil Wizard, <br>
      <br> a humor-filled action-RPG think Hyper Light Drifter's combat pace with magic spells. Have you ever played a game from 1985 to date that made you defeat an evil wizard at the end? Now you get to see the other side of the story.</p>
  </div>
  <div class="studio__logos">
    <img  data-aos="fade-up" class="studio__img" src="assets/logos/logo_rubber_duck.png" alt="Rubber duck studio"/>
    <img  data-aos="fade-up" class="studio__img" src="assets/images/sticker_01.png" alt="Evil Wizard Game character"/>
  </div>
</section>

<section id="about" class="about">
  <div>
    <h1>About the game</h1>
    <p>
      “Evil Wizard” is a humor-filled action RPG that reverts the role of the
      classic villain, making it the protagonist of the story as it rises from
      defeat to reclaim his castle from the heroes that sieged it. Fight in
      melee with the sword and cast spells using the staff. Gather elements from
      the environment like fire from torches, electricity from generators, and
      more, to combine them and discover new spells to defeat enemies and solve
      puzzles.
    </p>
    <p>
      We want to give players the opportunity to explore a new perspective of
      the classic story “hero must defeat the evil wizard to save the world”.
      The game puts players in the role of the evil wizard, showing them what
      happened with him after the heroes successfully defeated him. How did he
      manage to rise once again and regain his power? What happened to the evil
      wizard after the credits rolled and the heroes saved the world again and
      again? This particular take on this thematic character gives us a lot of
      room to play with as we portray him as an anti hero with a fresh new look,
      telling the story from his point of view with jokes, funny cinematics and
      deep fast combat.
    </p>
  </div>
</section>

<section id="features" class="features">
  <h1 class="features__header">Features</h1>
  <div class="features__container">
    <div data-aos="fade-up" data-aos-duration="1500" class="feature">
      <h1>Humor</h1>
      <img
        class="feature__img"
        src="assets/images/wizard/wizard_normal.png"
        alt="Image of the Evil Wizard when he is idle"
      />
      <p>
        Funny dialogues and in-game cinematics. The evil wizard has a deadpool
        vibe as he tells the story from his point of view
      </p>
    </div>
    <div data-aos="fade-up" data-aos-duration="1000" class="feature">
      <h1>Elements</h1>
      <img
        class="feature__img"
        src="assets/images/wizard/wizard_dmg.png"
        alt="Image of the Evil Wizard when he is damaged"
      />
      <p>
        Solve puzzles and combat challenges by harnessing different elements
        from the environment. With five elements to choose from, explore
        different combinations to gain an advantage in battle.
      </p>
    </div>
    <div data-aos="fade-up" data-aos-duration="500" class="feature">
      <h1>Action</h1>
      <img
        class="feature__img"
        src="assets/images/wizard/wizard_sup.png"
        alt="Image of the Evil Wizard when its suprised"
      />
      <p>
        Defeat heroes by casting spells using the power of the elements, get
        them from the environment or use your sword for close combat encounters.
      </p>
    </div>
  </div>
</section>

<section id="introduction" class="introduction">
  <div class="effects"></div>
  <div class="introduction__image">
    <img
      data-aos-duration="1000"
      data-aos="fade-up"
      src="assets/images/wizard/wizard_normal.png"
      alt=""
    />
  </div>
  <div class="introduction__desc">
    <h1 data-aos-duration="1500" data-aos="zoom-in">
      Who is the <span class="mark3">"Evil Wizard"</span> ?
    </h1>
    <p data-aos="fade-up">
      Professional final boss trying to revive his fading career after his last
      defeat in an attempt for a chance at a sequel, or at least a premium DLC
      <br />
      <br />
      Recognized by many as a staple of evilness and power, by some as a deadly
      enemy, by your team as your next investment. With decades of experience
      this classic character dominates the hearts of millions, some as fans
      others as undead minions rising from their graves to fight under his
      command.
      <br />
      <br />
      With a big, huge staff on his left hand, and a sword on his right hand he
      exterminates any hero that opposes him. Harnessing elements from the
      environment to cast powerful spells to sun, freeze, shock or poison his
      enemies before finishing them off with his sword, makes him a true master
      of the elements.
    </p>
  </div>
</section>

<div id="contact" class="contact">
  <div class="contact__container">
    <div class="contact__left">
      <h1 class="contact__header">
        Stay <span class="mark2">connected!</span>
      </h1>
      <div class="contact__socials">
        <a
          class="socials__icon"
          target="_blank"
          rel="noreferrer"
          href="https://www.facebook.com/RubberDuckG"
          ><i class="fab fa-facebook"></i
        ></a>
        <a
          class="socials__icon"
          target="_blank"
          rel="noreferrer"
          href="https://www.instagram.com/rubberduckgames/"
          ><i class="fab fa-instagram"></i
        ></a>
        <a
          class="socials__icon"
          target="_blank"
          rel="noreferrer"
          href="https://twitter.com/RubberDuck_G"
          ><i class="fab fa-twitter"></i
        ></a>
        <a
          class="socials__icon"
          target="_blank"
          rel="noreferrer"
          href="https://www.linkedin.com/company/rubberduckgames"
        >
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <form class="contact__form">
        <label for="name">Your beatiful name</label>
        <input id="name" type="text" placeholder="Your name" />
        <label for="email">Your email address</label>
        <input id="email" type="email" placeholder="Your email" />
        <label for="message">Your message</label>
        <textarea
          id="message"
          cols="30"
          rows="4"
          placeholder="How can we help you?"
        ></textarea>
        <button type="submit">Send</button>
      </form>
    </div>
    <div class="contact__twitter">
      <div class="contact__socials">
        <a
          class="twitter-timeline"
          data-width="500"
          data-height="550"
          data-theme="dark"
          href="https://twitter.com/EvilWizardGame?ref_src=twsrc%5Etfw"
          >Tweets by EvilWizardGame</a
        >
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
    </div>
  </div>
</div>

<section id="gallery" class="gallery">
  <h1 class="gallery__heading">Gallery</h1>
  <a
    href="assets/images/screenshots/cr1.png"
    class="gallery__img-link js-smartPhoto2"
    data-caption="Fireball!"
    data-id="1"
    data-group="no-gravity"
    data-index="0"
  >
    <img
      src="assets/images/screenshots/cr1.png"
      alt="Screenshot from the game"
    />
  </a>
  <a
    href="assets/images/screenshots/cr2.png"
    class="gallery__img-link js-smartPhoto2"
    data-caption="Is it a dungeon?"
    data-id="2"
    data-group="no-gravity"
    data-index="1"
  >
    <img
      src="assets/images/screenshots/cr2.png"
      alt="Screenshot from the game"
    />
  </a>
  <a
    href="assets/images/screenshots/cr3.png"
    class="gallery__img-link js-smartPhoto2"
    data-caption="Waiting makes perfection"
    data-id="3"
    data-group="no-gravity"
    data-index="2"
  >
    <img
      src="assets/images/screenshots/cr3.png"
      alt="Screenshot from the game"
    />
  </a>
  <a
    href="assets/images/screenshots/cr4.png"
    class="gallery__img-link js-smartPhoto2"
    data-caption="Lit the torches!"
    data-id="4"
    data-group="no-gravity"
    data-index="3"
  >
    <img
      src="assets/images/screenshots/cr4.png"
      alt="Screenshot from the game"
    />
  </a>
  <a
    href="assets/images/screenshots/cr5.png"
    class="gallery__img-link js-smartPhoto2"
    data-caption="The rise and fall"
    data-id="5"
    data-group="no-gravity"
    data-index="4"
  >
    <img
      src="assets/images/screenshots/cr5.png"
      alt="Screenshot from the game"
    />
  </a>
  <a
    href="assets/images/screenshots/cr6.png"
    class="gallery__img-link js-smartPhoto2"
    data-caption="The wooden staff"
    data-id="6"
    data-group="no-gravity"
    data-index="5"
  >
    <img
      src="assets/images/screenshots/cr6.png"
      alt="Screenshot from the game"
    />
  </a>
</section>

<section id="meet" class="meet">
  <img
    data-aos-duration="1000"
    data-aos="fade-up"
    class="spider"
    src="assets/images/parallax/spider.png"
    alt=""
  />
  <div class="effects1"></div>
  <div class="team">
    <h1 class="team__header">Meet the team</h1>
    <div data-aos="fade-up" class="team__card">
      <div>
        <img src="assets/images/team/Banki.jpg" alt="Gonzalo Banki Martinez" />
      </div>
      <div>
        <h1>Gonzalo Banki Martinez</h1>
        <h2>Game Designer, Producer</h2>
        <p>
          He uses his
          <mark
            ><a
              class="kenbonsuku"
              target="_blank"
              href="https://oproleplaying.fandom.com/wiki/Haki/Kenbunshoku_Haki#:~:text=Kenbunshoku%20Haki%20is%20a%20form,as%20gain%20limited%20precognitive%20abilities.&text=In%20Skypiea%2C%20Kenbunshoku%20Haki%20is,meaning%20%22Mind%20Rope%22)."
              >Kenbunshoku Haki</a
            ></mark
          >
          to see the future and organize everything needed in order to meet the
          deadlines while creating awesome worlds and mechanics.
        </p>
        <a class="team__icon" rel="norefferer" href="https://twitter.com/EvilWizardGame"
          ><i class="fab fa-twitter"></i
        ></a>
      </div>
    </div>
    <div data-aos="fade-up" class="team__card">
      <div>
        <img src="assets/images/team/Diego.jpeg" alt="Diego Ordónez" />
      </div>
      <div>
        <h1>Diego Ordóñez</h1>
        <h2>Programmer</h2>
        <p>4 years in the making, he’s the father of Evil Wizard.</p>
        <a class="team__icon" rel="norefferer" href=""><i class="fab fa-twitter"></i></a>
      </div>
    </div>
    <div data-aos="fade-up" class="team__card">
      <div>
        <img src="assets/images/team/Ruben.jpg" alt="Ruben Gómez" />
      </div>
      <div>
        <h1>Ruben Gómez</h1>
        <h2>Art & visuals</h2>
        <p>
          15+ years as an artist. He has more art styles under his belt than
          Batman has gadgets.
        </p>
        <div class="member__social">
          <a class="team__icon" rel="norefferer" href=""><i class="fab fa-artstation"></i></a>
          <a class="team__icon" rel="norefferer" href=""><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
    <div data-aos="fade-up" class="team__card">
      <div>
        <img src="assets/images/team/Haakon.jpg" alt="Hakoon Davidsen" />
      </div>
      <div>
        <h1>Haakon Davidsen</h1>
        <h2>Composer</h2>
        <p>
          9 years as a freelance musician and 4 years as a freelance composer
          (don’t let the glasses fool you, this is the viking).
        </p>
        <div class="member__social">
          <a class="team__icon" rel="norefferer" href="https://twitter.com/EvilWizardGame"
            ><i class="fab fa-twitter"></i
          ></a>
          <a class="team__icon" rel="norefferer" href=""><i class="fab fa-youtube"></i></a>
          <a class="team__icon" rel="norefferer"href=""><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
