<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">   
<meta name="description" content="Evil Wizard game">
<meta name="keywords" content="Evil Wizard, 2D game, combat, RubberDuckGames, magic, pixelart, adventure, retro, dash, evil, wizard, rpg">
<meta name="author" content="RubberduckGames">
<meta name="robots" content="index, follow" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
<meta name="theme-color" content="#ffffff" />
<meta property="og:title" content="Evil Wizard - RubberDuckGames"/>
<meta property="og:image" content="http://evilwizard.testhosting.hu/assets/images/backgrounded.jpeg"/>
<meta property="og:site_name" content='evilwizard.testhosting.hu' />
<meta property="og:description" content='The Evil Wizard Game' />
<meta property="og:type" content="website"/>
<link rel='shortcut icon' type='image/x-icon' href="assets/images/favico.ico"/>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
<link rel="stylesheet" href="https://unpkg.com/smartphoto@1.1.0/css/smartphoto.min.css" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<title>Evil Wizard - RubberDuckGames</title>