<li class="navbar__hamburger"><i class=" fas fa-bars"></i></li>
<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item"><img src="assets/logos/text.png" alt="RubberDuck logo"></li>
        <li class="navbar__item"><a href="#landing">Home</a></li>
        <li class="navbar__item"><a href="#introduction">Game</a></li>
        <li class="navbar__item"><a href="#gallery">Galery</a></li>
        <li class="navbar__item"><a href="#features">Fetaures</a></li>
        <li class="navbar__item"><a href="#contact">Contact</a></li>
        <li class="navbar__item"><a href="#meet">The Team</a></li>
    </ul>
</nav>