<li class="navbar__hamburger"><i class=" fas fa-bars"></i></li>
<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item"><a href="index.php#landing">Home</a></li>
        <li class="navbar__item"><a href="index.php#introduction">Game</a></li>
        <li class="navbar__item"><a href="index.php#gallery">Galery</a></li>
        <li class="navbar__item"><img src="assets/logos/text.png" alt="RubberDuck logo"></li>
        <li class="navbar__item"><a href="index.php#features">Fetaures</a></li>
        <li class="navbar__item"><a href="index.php#contact">Contact</a></li>
        <li class="navbar__item"><a href="index.php#meet">The Team</a></li>
    </ul>
</nav>